
<?php foreach($model['products'] as $num => $product): ?>

    <tr>
      <th scope='row'><?php self::htmlOut($num) ?></th>
      <td><?php self::htmlOut($product->getName()) ?></td>
      <td><?php self::htmlOut($product->getManufacturer()) ?></td>
      <td><?php self::htmlOut($product->getAuthor()) ?></td>
      <td><?php self::htmlOut($product->getNumberOfRatings()) ?></td>
      <td><?php self::htmlOut($product->getAverageRating()) ?></td>
      <td><?php self::htmlOut($product->getCategory()) ?></td>
      <td><?php self::actionLink('Details', 'Detail','Products',[
        'pid' => $product->getId(),
        ]) ?>
        <?php if(isset($model['user']) && $model['user']->getUsername() === $product->getAuthor()){
                self::actionLink('Edit ', 'editProduct','Products',[
                'pid' => $product->getId(),
                 ]);
                  self::actionLink('Delete', 'deleteProduct','Products',[
                  'pid' => $product->getId(),
                 ]);
            }
        ?>
        </td>
    </tr>

<?php endforeach; ?>