
<?php foreach($model['ratings'] as $num => $rating): ?>

    <div class="row">
        <p>Rating by <b><?php self::htmlOut($rating->getAuthor()); ?></b> created at <?php self::htmlOut($rating->getDate()); ?> 
            <?php 
                if(isset($model['user']) && $model['user']->getUsername() === $rating->getAuthor()){
                     self::actionLink('Edit ', 'editRating','Ratings',[
                                'rid' => $rating->getId(),
                ]);
                self::actionLink('Delete', 'deleteRating','Ratings',[
                                'rid' => $rating->getId(),
                ]);
                }
               
            ?>
        </p>
        <div class="container">
            <b>Rating: </b> <?php self::htmlOut($rating->getValue()); ?><br/>
            <b>Comment: </b> <?php self::htmlOut($rating->getComment()); ?>
        </div>

    </div>
    <br/>
<?php endforeach; ?>